.vscode
process
simulate
fa-lru
fa-min

# Latex logs
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.synctex.gz

# Directories
output
traces
champsim
prefetchers/sangam++
prefetchers/bouquet/ipcp++.l1d_pref.cpp
